@import url(./design-system.css);

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    color: white;
    font-family: var(--font-family-sans);
}

.main-wrapper {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: var(--color-palette-7);
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Navigation Bar */

.navbar {
    background-color: var(--color-palette-6);
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 30px;
    position: relative;
    z-index: 10;
}

/*left*/
.navdiv-left {
    display: flex;
    height: 100%;
}

.navbar label {
    height: 100%;
    display: flex;
    align-items: center;
    font-size: x-large;
    font-family: "Bebas Neue", sans-serif;
}

.navbar img {
    overflow: hidden;
    height: 100%;
}

/*right*/
.navdiv-right {
    height: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
}

.button-signin,
.button-signup {
    background-color: var(--color-logo-1);
    color: var(--color-text-1);
    font-size: medium;
    padding: 10px;
    width: 100px;
    font-weight: var(--font-weight-1);
    border-radius: var(--border-radius-s);
    border: none;
    cursor: pointer;
}

.button-signin:hover,
.button-signup:hover {
    background-color: var(--color-logo-2);
    color: var(--color-text-2);
}

.button-language {
    padding: 10px;
    background-color: var(--color-palette-4);
    color: var(--color-text-1);
    border: none;
    font-size: medium;
    border-radius: var(--border-radius-s);
    cursor: pointer;
}

.button-language:hover {
    background-color: var(--color-palette-5);
    color: var(--color-text-2);
}

.button-language i {
    font-size: large;
}

.button-connection {
    padding: 10px;
    background-color: var(--color-palette-4);
    color: var(--color-text-1);
    border: none;
    font-size: medium;
    border-radius: var(--border-radius-s);
    cursor: pointer;
}

.button-connection:hover {
    background-color: var(--color-palette-5);
    color: var(--color-text-2);
}

/*dropdown menu*/
.dropdown-menu-language,
.dropdown-menu-connection {
    position: relative;
    background-color: var(--color-palette-5);
    border-radius: var(--border-radius-s);
}

.dropdown-content-language,
.dropdown-content-connection {
    visibility: hidden;
    opacity: 0;
    background-color: var(--color-palette-6);
    position: absolute;
    transition: opacity 0.1s ease, visibility 0.1s ease;
    border-bottom-left-radius: var(--border-radius-s);
    border-bottom-right-radius: var(--border-radius-s);
    width: 100%;
}

.dropdown-content-language button,
.dropdown-content-connection button {
    width: 100%;
    padding: 10px;
    font-size: medium;
    background-color: var(--color-palette-5);
    border: none;
    color: var(--color-text-2);
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    text-align: center;
    text-wrap: 1;
}

.dropdown-content-language button:hover,
.dropdown-content-connection button:hover {
    background-color: var(--color-palette-6);
    color: var(--color-text-3);
}

.dropdown-menu-language:hover .dropdown-content-language,
.dropdown-menu-connection:hover .dropdown-content-connection {
    visibility: visible;
    opacity: 1;
}

.dropdown-menu-language:hover,
.dropdown-menu-connection:hover {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.dropdown-item2{
border-bottom-left-radius: var(--border-radius-s);
border-bottom-right-radius: var(--border-radius-s);
}

.dropdown-content-language img,
.dropdown-content-connection img {
    height: 25%;
    width: 25%;
}

/* Header Slogan */
.header-wrapper {
    padding: 0;
}

.header-wrapper h1 {
    color: var(--color-text-2);
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 80px;
    margin: 35px 0px 10px 0px;
    letter-spacing: 3px;
    font-weight: 900;
}

/* Slayt */
.slayt-container-main {
    margin: 0;
    padding: 0px;
    width: 80%;
    aspect-ratio: 2/1;
    display: flex;
    overflow: hidden;   
}

.slayt-container {
    display: flex;
    margin: 0;
    padding: 0;
    width: 300%;
    animation: 12s slayt infinite;
}

.slayt-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    flex: 1 0 100%;
}

@keyframes slayt {
    0% { transform: translateX(0%); }
    27% { transform: translateX(0%); }

    33% { transform: translateX(-100%); }
    60% { transform: translateX(-100%); }

    66% { transform: translateX(-200%); }
    93% { transform: translateX(-200%); }

    100% { transform: translateX(0%); }
}

/* Info Header */
.info-header {
    margin-top: 100px;
    font-family: "Bebas Neue", sans-serif;
    font-size: x-large;
    color: var(--color-text-2);
}

/* Info Part */
.info-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: var(--color-palette-8);
    padding: 50px;
    box-sizing: border-box;
}

#info-container-coach {
    margin-top: 20px;
}

.text-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 25px;
    box-sizing: border-box;
    color: var(--color-text-3);
}

.img-info-p {
    margin-right: 30px;
}

.img-info-c {
    margin-left: 30px;
}

.text-info p {
    font-size: large;
}

.info-container button {
    background-color: var(--color-logo-1);
    color: var(--color-text-1);
    font-size: medium;
    padding: 10px;
    width: 150px;
    font-weight: var(--font-weight-1);
    border-radius: var(--border-radius-s);
    border: none;
    cursor: pointer;
}

.info-container button:hover {
    background-color: var(--color-logo-2);
    color: var(--color-text-2);
}